<!DOCTYPE html>
<html>
<head><title>文件上传和下载</title></head>
<body><h1>文件上传和下载</h1>
<form id="uploadForm" enctype="multipart/form-data">
    <input type="file" id="fileInput" name="file" accept=".xlsx">
    <button type="submit">上传文件</button>
</form>

<button id="downloadButton" disabled>下载</button>
<div id="resultMessage"></div>

<script>
    document.getElementById("uploadForm").addEventListener("submit", function (event) {
        event.preventDefault(); // 阻止表单的默认提交行为

        var fileInput = document.getElementById("fileInput");
        var file = fileInput.files[0];

        var formData = new FormData();
        formData.append("file", file);

        fetch("/process/", {
            method: "POST",
            body: formData
        })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    const downloadButton = document.getElementById('downloadButton');
                    downloadButton.disabled = false;
                    downloadButton.addEventListener('click', () => {
                        const byteCharacters = atob(data.file);
                        const byteNumbers = new Array(byteCharacters.length);
                        for (let i = 0; i < byteCharacters.length; i++) {
                            byteNumbers[i] = byteCharacters.charCodeAt(i);
                        }
                        const byteArray = new Uint8Array(byteNumbers);

                        const fileBlob = new Blob([byteArray], {type: 'application/zip'});
                        const url = URL.createObjectURL(fileBlob);
                        const link = document.createElement('a');
                        link.href = url;
                        link.download = 'processed_files.zip';
                        link.click();
                        URL.revokeObjectURL(url);
                    });
                }
                const resultMessage = document.getElementById('resultMessage');
                resultMessage.innerText = data.message;
            })
            .catch(error => console.error(error));
    });
</script>
</body>
</html>